.btn {
  display: block;
  max-width: max-content;
  padding: 0.8rem 1.8em;
  margin: 20px auto;
  background-color: #2673a7;
  border-radius: 4px;
  color: #f8f0f0;
  box-shadow: #00000081 0px 2px 8px 0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.35ch;
  font-weight: 500;
  transition: all 250ms ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #ffdc5d;
    color: #1e1e1e;
    box-shadow: 0 2px 3px 1px #00000081;
    transform: scale(1.02);
  }
}
