.container {
  padding: 3rem 0;
  min-height: calc(100vh - 7rem); // bg nav: 7rem: transparent nav: 3.5rem
  // flex: 1 1;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background: linear-gradient(130deg, #525fc1, #000217);
}
