.container {
  padding: 5rem 2em;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #4658dd, #030411);
}
