@use "../../styles/config" as *;

.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $clr-bg-primary;
  font-size: 1.1rem;
  box-shadow: $clr-nav-shadow 0 -2px 5px 4px;

  // // TRANSPARENT NAV - Layout calc needs reajustment!
  // position: fixed;
  // background-color: transparent;
  // width: 100%;
  // margin: 0 auto;
  // box-shadow: none;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    max-height: 3.5rem;
    margin: 0 auto;
    padding: 1em 2em;
    color: $clr-nav-items;

    .logo {
      background-image: linear-gradient(to right, #59b2ee, #f34caf, #f0e43d);
      margin-right: auto;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.08ch;
      filter: drop-shadow(0px 0px 3px #272525);
    }

    .navLinksDesktop {
      display: none;

      ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;

        li:not(:last-child) {
          transition: all 0.2s ease-out;

          &:hover {
            transform: translateY(-3px);
          }

          & + li {
            margin-left: 1rem;
          }
        }

        li:last-child {
          a {
            color: #a3ffff;
            padding: 0.4rem 0.9rem;
            text-transform: uppercase;
            letter-spacing: 0.2ch;
            font-size: 0.9rem;
            border: 2px solid #a3ffff;
            cursor: pointer;
            transition: all 0.2s ease-out;

            &:hover,
            &:focus {
              background-color: #a3ffff;
              color: #1e1e1e;
            }
          }
        }
      }

      .navLink {
        letter-spacing: 0.15ch;
        position: relative;
        transition: all 250ms ease-in-out;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          width: 0px;
          height: 2px;
          transition: all 250ms ease-in-out;
          left: 0;
          background-image: linear-gradient(
            to right,
            $clr-navLinks-hover-start,
            $clr-navLinks-hover-end
          );

          opacity: 0;
        }

        &:hover {
          &::after {
            width: 100%;
            opacity: 1;
          }
        }
      }

      @media (min-width: 710px) {
        display: block !important;
      }
    }

    .hamburguer {
      .navBtnContainer {
        position: relative;
        z-index: 3;
        padding: 1rem 0.5rem;
        cursor: pointer;
        transition: transform 250ms ease-in-out;

        .navBtn {
          cursor: pointer;
          z-index: 2;

          &,
          &::after,
          &::before {
            display: block;
            position: relative;
            background-color: $clr-nav-items;
            width: 1.7em;
            height: 3px;
            border-radius: 1em;
            transition: transform 250ms ease-in-out;
          }

          &::after,
          &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
          }

          &::before {
            top: 8px;
          }

          &::after {
            bottom: 8px;
          }
        }
      }

      .navLinks {
        position: fixed;
        color: $clr-nav-items;
        text-shadow: 2px 2px $clr-hamb-text-shadow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: linear-gradient(270deg, #d299ec, #23a6d5, #1e50bb, #091052);
        background-size: 800% 800%;
        animation: GradientLoop 30s ease-in-out infinite;

        top: 0;
        right: 0;
        width: 100%;
        min-height: 100vh;
        cursor: auto;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.2ch;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1),
          opacity 250ms ease-in-out;

        & > a {
          padding: 0.6em;
          transition: all 0.1s ease-in-out;

          &:hover {
            color: $clr-nav-items--hover;
            border-left: 2px solid $clr-hamb-linkBorder--hover;
            transform: scale(1.08);
          }
        }

        & > a + a {
          margin-top: 1em;
        }
      }

      @media (min-width: 710px) {
        display: none;
      }
    }

    .hamburguerOpen {
      .navBtnContainer {
        transform: translateY(100px) translateX(-40px) scale(1.3);

        .navBtn {
          &,
          &::after,
          &::before {
            transform: rotate(0.625turn);
          }

          &::before {
            transform: rotate(90deg) translateX(-8px);
          }

          &::after {
            opacity: 0;
          }
        }
      }

      .navLinks {
        transform: translateX(0px);
        opacity: 1;
      }
    }
  }
}

@keyframes GradientLoop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
