.title {
  margin-bottom: 2em;
  font-weight: 300;
  text-align: center;

  span {
    font-weight: 600;
  }
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;

  .subTitle {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.3rem;
    font-weight: 600;
  }

  .content {
    min-width: 150px;

    .paragraph {
      font-size: 1.2rem;
      font-weight: 500;
      text-align: justify;
      margin: 1.2rem auto 1.8rem;
    }
  }

  .btn {
    display: block;
    max-width: max-content;
    padding: 0.8em 1.8em;
    margin: 20px auto;
    background-color: #03030a;
    border: 1px solid #fff455;
    border-radius: 4px;
    color: #f8f0f0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.35ch;
    font-weight: 600;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: #fff455;
      color: #1e1e1e;
      box-shadow: 0 2px 3px 1px #1e1e1e;
      transform: scale(1.02);
    }
  }

  .notFoundImage {
    margin-left: 2rem;
    max-width: 350px;
    max-height: 340px;
    filter: drop-shadow(#1e1e1e 0px 0px 2px);
  }
  @media (max-width: 710px) {
    flex-direction: column;

    .content {
      margin-top: 1rem;
      order: 2;
    }

    .notFoundImage {
      margin-left: 0;
      order: 1;
    }
  }
}
