//? ********* COLORS *********

$clr-bg-primary: #050505;
$clr-nav-shadow: #a4a7ff;
$clr-nav-items: #fdffdd;
$clr-nav-items--hover: #f8ff91;
$clr-navLinks-hover-start: #f34caf;
$clr-navLinks-hover-end: #f0e43d;

$clr-hamb-gradient-start: #7be6e6;
$clr-hamb-gradient-end: #2e4bccf6;
$clr-hamb-text-shadow: #424;
$clr-hamb-linkBorder--hover: #fff;

//? ********* FONTS *********

$font-family-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
