.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin: 1rem 0;
  font-weight: 600;
}

.flexContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
  max-width: 1000px;

  @media (min-width: 800px) {
    flex-direction: row;
  }
  .aboutContainer {
    & > * {
      border: 2px groove hsl(178, 88%, 73%);
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
      border-radius: 5px;
      margin: 0 auto 3rem;
      max-width: 200px;

      @media (min-width: 800px) {
        margin-bottom: 0;
        max-width: 250px;
      }
    }
  }

  .infoContainer {
    width: 100%;
    max-width: 53ch;
    text-align: justify;
    line-height: 2.3ch;
    padding: 0 1.5rem;

    .paragraph {
      font-size: 0.9rem;
      line-height: 3ch;

      @media (min-width: 800px) {
        margin-bottom: 0;
      }

      @media (min-width: 930px) {
        font-size: 1.1rem;
      }
    }
  }
}

.toolbelt {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.15ch;
  padding-left: 2rem;
}

.tools {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;
  margin: 3em auto 1rem;
  padding: 0 2rem;
  align-items: center;
  justify-items: center;

  .tool {
    max-width: 65px;
    max-height: 65px;

    &[alt="NodeJS"] {
      filter: brightness(1) invert(1) hue-rotate(265deg);
    }

    &[alt="NextJS"] {
      filter: brightness(0) invert(1);
    }
  }
}
