.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  text-align: center;
  letter-spacing: 0.15ch;
}

.blogCardContainer {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
