.contactLayout {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  .title {
    margin: 0.5em auto 0;
    text-align: center;
    font-weight: 600;
  }

  .flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .links {
      border-style: solid;
      border-image: linear-gradient(to bottom, #88d1ff, rgba(0, 0, 0, 0)) 1;
      max-width: 400px;
      font-size: 1.2rem;
      padding: 0 2rem;
    }

    .messageImg {
      max-width: 400px;
    }
  }

  .paragraph {
    margin: 1.5rem 0;
    line-height: 2.4ch;
    text-align: justify;

    &:nth-child(4) {
      text-align: center;
    }
  }

  .socialList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;

    & > li {
      font-size: 1.5rem;
      padding: 0.6rem 0.2rem 0.2rem;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(1.2);
      }
    }

    .socialListItemTwitter {
      color: #1da1f2;
      &:hover {
        color: #88d1ff;
      }
    }
    .socialListItemGithub {
      color: #f3ba1e;
      &:hover {
        color: #fad464de;
      }
    }
    .socialListItemLinkedIn {
      color: #3386da;
      &:hover {
        color: #51a8ff;
      }
    }
    .socialListItemInstagram {
      color: #c33670;
      &:hover {
        color: #df93b2;
      }
    }
  }
}
