.contactLayout {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;

  .title {
    margin: 0.5em auto 0;
    text-align: center;
    font-weight: 600;
    font-size: 2.2rem;
  }

  .messageImgMobile {
    margin: 0 auto;

    @media (min-width: 700px) {
      display: none;
    }
  }

  .flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    @media (min-width: 700px) {
      justify-content: space-evenly;
    }

    .links {
      max-width: 400px;
      font-size: 1.2rem;
      padding: 0 2rem;
    }

    .messageImg {
      max-width: 400px;
      display: none;

      @media (min-width: 700px) {
        display: block;
      }
    }
  }

  .paragraph {
    margin: 1.5rem 0;
    line-height: 2.4ch;
    text-align: justify;
    font-size: 1rem;

    &:nth-child(4) {
      text-align: center;
      font-size: 1.2rem;
    }
  }

  .socialList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;

    & > li {
      font-size: 1.5rem;
      padding: 0.6rem 0.2rem 0.2rem;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(1.2);
      }
    }

    .socialListItemTwitter {
      color: #1da1f2;
      &:hover {
        color: #88d1ff;
      }
    }
    .socialListItemGithub {
      color: #f3ba1e;
      &:hover {
        color: #fad464de;
      }
    }
    .socialListItemLinkedIn {
      color: #3386da;
      &:hover {
        color: #51a8ff;
      }
    }
    .socialListItemInstagram {
      color: #c33670;
      &:hover {
        color: #df93b2;
      }
    }
  }
}
