//! ****** RESET CSS PROPERTIES ******

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  box-shadow: 0 0 0 7px #000, 0 0 0 9px #f7ef7b;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #fff;
}

img {
  display: block;
  width: 100%;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  transition: color 250ms ease;

  &:hover {
    color: #f0ff68;
  }
}

ul {
  list-style-type: none;
}
//! ****** CUSTOM STYLING ******

//? Class to add a color gradient to the text
.clrTransition {
  background: linear-gradient(to right, #f34caf, #f0e43d, #fdf9e4cc 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 375ms ease;

  &:hover,
  &:focus {
    background-position: 0 100%;
  }
}

//? Active Link Styling
.active {
  font-weight: 600;
  background-image: linear-gradient(to left, #2994c5, #f34caf, #f0e43d);
}
