.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 3rem;

  .img {
    max-width: 600px;
    filter: drop-shadow(#71ffec 0 0 4px);
  }

  .container {
    color: #f8f0f0;
    // text-align: center;
    position: relative;
    padding: 1rem 0;
    z-index: 0;
    font-size: 1rem;
    line-height: 2rem;
  }

  .introText {
    font-size: 2rem;
    margin-bottom: 0.6rem;
    font-weight: 600;
    line-height: 2ch;
  }

  .accent {
    color: #a9ffff;
  }

  .subTitle {
    font-size: 2rem;
    margin-bottom: 0.6rem;

    // margin: 0 auto 0.6em;
    text-align: left;
    letter-spacing: 1px;
  }
}

.text {
  max-width: 60ch;
  margin: 3rem auto 1rem;
  text-align: center;
  line-height: 3ch;
}

.flexContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 2rem auto;

  .card {
    max-width: 310px;
    text-align: justify;
    line-height: 2.2ch;
    padding: 1rem 1.5rem;
    margin-top: 2rem;
    border-style: solid;
    border-image: linear-gradient(to bottom, #ebe9a1b9, rgba(0, 0, 0, 0)) 1;
    // background: rgb(236, 236, 189);
    // color: #1e1e1e;
    // border: 2px groove pink;
    // border-radius: 10px;
    // font-weight: 300;
    letter-spacing: 1px;

    .link {
      color: rgb(236, 236, 62);
    }

    .cardTitle {
      text-align: center;
      line-height: 2.5ch;
      margin: 1rem 0 2rem;
    }
  }
}

.servicesContainer {
  background: #05051d;
  position: static;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding: 3rem 2rem;

  .subTitle {
    text-align: center;
    margin: 1rem 0 0;
    font-size: 2.1rem;
    letter-spacing: 0.2ch;
  }
}
