.intro {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto 2rem;
  padding: 0 2rem 2rem;

  @media (min-width: 600px) {
    flex-direction: row;
  }

  .img {
    max-width: 200px;
    filter: drop-shadow(#71ffec 0 0 4px);

    @media (min-width: 400px) {
      max-width: 230px;
    }

    @media (min-width: 680px) {
      max-width: 275px;
    }

    @media (min-width: 885px) {
      max-width: 350px;
    }
  }

  .container {
    color: #f8f0f0;
    position: relative;
    padding-bottom: 1rem;
    z-index: 0;
    font-size: 1rem;
    line-height: 2rem;

    @media (min-width: 600px) {
      padding-bottom: 0;
    }
  }

  .introText {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 2.5ch;

    @media (min-width: 400px) {
      font-size: 1.6rem;
    }

    @media (min-width: 600px) {
      margin-bottom: 0;
    }

    @media (min-width: 680px) {
      font-size: 1.6rem;
    }

    @media (min-width: 885px) {
      font-size: 2rem;
    }
  }

  .accent {
    color: #a9ffff;
  }

  .subTitle {
    font-size: 2rem;
    margin-bottom: 0.6rem;

    // margin: 0 auto 0.6em;
    text-align: left;
    letter-spacing: 1px;
  }
}

.text {
  max-width: 60ch;
  margin: 3rem auto 1rem;
  text-align: center;
  line-height: 3ch;
}

.flexContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto 2rem;

  .card {
    max-width: 310px;
    text-align: justify;
    line-height: 2.2ch;
    padding: 1rem 1.5rem;
    margin-top: 2rem;
    border-style: solid;
    border-image: linear-gradient(to bottom, #ebe9a1b9, rgba(0, 0, 0, 0)) 1;
    // background: rgb(236, 236, 189);
    // color: #1e1e1e;
    // border: 2px groove pink;
    // border-radius: 10px;
    // font-weight: 300;
    letter-spacing: 1px;

    .link {
      color: rgb(236, 236, 62);
    }

    .cardTitle {
      text-align: center;
      line-height: 2.5ch;
      margin: 1rem 0 2rem;
    }
  }
}

.servicesContainer {
  background: #05051d;
  position: static;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 2rem 3rem;

  .subTitle {
    text-align: center;
    margin: 3rem 0 1rem;
    font-size: 2rem;
    letter-spacing: 0.2ch;
  }
}

.contactCta {
  margin: 2rem 0;
  .subtitleMobile {
    font-weight: 600;
    text-align: center;
    margin: 3rem 1rem 2.5rem;
    line-height: 2.5ch;
    font-size: 1.5rem;

    @media (min-width: 620px) {
      display: none;
    }
  }
}

.flexContainerCta {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto 0;
  padding: 0 3rem;
  max-width: 900px;

  @media (min-width: 620px) {
    flex-direction: row;
  }

  .img {
    max-width: 300px;
  }

  .content {
    width: 100%;
    max-width: 400px;
    margin-top: 3rem;

    @media (min-width: 620px) {
      margin-top: 0;
    }

    @media (min-width: 800px) {
      font-size: 1.3rem;
      margin-bottom: 2rem;
    }

    .subtitle {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
      display: none;

      @media (min-width: 620px) {
        display: block;
      }
      @media (min-width: 800px) {
        font-size: 1.9rem;
        margin-bottom: 2rem;
      }
    }

    .text {
      margin: 0;
    }
  }
}
