.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  .container {
    color: #f8f0f0;
    text-align: center;
    position: relative;
    padding: 1rem 0;
    z-index: 0;
    font-size: 1.1rem;

    line-height: 2rem;
  }

  .title {
    margin-bottom: 0.6em;
  }

  .subTitle {
    color: #94f3ff;
    margin: 0 auto 0.6em;
    // background-color: black;
  }

  .text {
    max-width: 60ch;
    margin: 0 auto;
  }
}
