.container {
  color: #f8f0f0;
  text-align: center;
  position: relative;
  padding: 4em 2em;
  z-index: 0;
  font-size: 1.1rem;

  line-height: 2rem;
  width: 100vw;
}

.title {
  margin-bottom: 0.6em;
}

.subTitle {
  color: #68c3cf;
  margin: 0 auto 0.6em;
  // background-color: black;
}

.text {
  max-width: 60ch;
  margin: 0 auto;
}
