.title {
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 600;
}

.projectCard {
  max-width: 80ch;
  margin: 0 auto;

  &.hidden {
    display: none;
  }

  .projectTitle {
    font-weight: 400;
  }
  .projectInfo {
    margin-top: 1.5rem;
    font-weight: 400;
    line-height: 3ch;
  }

  .link {
    max-height: 300px;
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }

  .projectImg {
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.507) 0px 20px 30px -10px;
    margin: 3rem auto;
    outline: 3px groove rgb(44, 140, 143);
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 270px;
  margin: 0 auto 2rem;

  .btn {
    background-color: transparent;
    border: none;
    width: 35px;
    cursor: pointer;

    &.right {
      rotate: 180deg;
    }
  }

  .projectNavBtn {
    width: 20px;
    height: 20px;
    background-color: rgba(98, 161, 182, 0.678);
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    position: relative;

    &.line {
      background-color: #8fdbdb;
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        color: white;
        background: white;
        position: absolute;
        bottom: -10px;
        left: 0;
      }
    }
  }
}
