.title {
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 600;
}

.projectNavBtn {
  width: 20px;
  height: 20px;
  background-color: #8fdbdb7a;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  position: relative;

  &.line {
    background-color: #8fdbdb;
    animation-name: clrTransition;
    animation-duration: 0.8s;

    @keyframes clrTransition {
      0% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background: white;
      position: absolute;
      bottom: -8px;
      left: 0;
      border-radius: 5px;
      animation-name: lineAnimation;
      animation-duration: 0.8s;
    }

    @keyframes lineAnimation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.projectCard {
  max-width: 80ch;
  margin: 0 auto;
  // padding: 0 2rem;

  &.hidden {
    display: none;
  }

  .projectTitle {
    font-weight: 400;
    margin: 3rem 0 2.5rem;
    text-align: center;
  }

  .summary {
    padding: 0 1rem;
  }

  .projectInfo {
    margin-top: 0.8rem;
    font-weight: 400;
    line-height: 3.5ch;
    text-align: justify;
    padding: 0 1rem;
  }

  .link {
    max-height: 300px;
    max-width: 600px;
    display: block;
    margin: 2rem auto 3rem;

    .projectImg {
      max-width: 500px;
      box-shadow: rgba(0, 0, 0, 0.507) 0px 20px 30px -10px;
      margin: 0 auto;
      border: 3px groove rgb(44, 140, 143);
    }
  }
}

.container {
  padding: 0 1rem;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 270px;
  margin: 0 auto 2rem;

  .btn {
    background-color: transparent;
    filter: brightness(1) invert(0.8);
    border: none;
    width: 35px;
    cursor: pointer;
    transition: all 0.1s ease-in;

    &:hover {
      filter: brightness(0) invert(1);
    }

    &.right {
      transform: scaleX(-1);
    }
  }
}
